.social-login
    button.social-login--google
        a(href=routes.google)
            span
                i.fab.fa-google-plus-square
            |Continue with Google
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github-square 
            |Continue with Github
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook-square
            |Continue with Facebook
