.social-login
    h3 Continue with 
        button
            span
                i.fab.fa-google-plus-square
        button
            span
                i.fab.fa-github-square 
        button
            span
                i.fab.fa-facebook-square
        button
            span
                i.fab.fa-linkedin