extends layouts/main.pug
include mixins/videoCatalog

block content
    .videos
        each vid in videosData
            +videoCatalog({
                title: vid.title,
                views: vid.views,
                videoFile: vid.videoFile
            })