extends layouts/main.pug
include mixins/videoCatalog

block content
    .search__header
        h3 Searching by #{searchingBy}
    .search__videos
        each vid in videosData
            +videoCatalog({
                title: vid.title,
                views: vid.views,
                videoFile: vid.videoFile
            })